# Project Plan

What dataset are you going to use?

https://data.cityofnewyork.us/Housing-Development/DOB-Job-Application-Filings/ic3t-wcy2/about_data -DoB Job Application

https://data.cityofnewyork.us/Housing-Development/DOB-Violations/3h2n-5cm9/about_data DoB Violation

https://data.cityofnewyork.us/Housing-Development/DOB-Complaints-Received/eabe-havv/about_data DoB Complaints

https://data.cityofnewyork.us/Housing-Development/DOB-Disciplinary-Actions/ndq3-kuef/about_data -DoB Diciplinary Action

# Testing the API

In [ ]:
# Importing Libraries


import pandas as pd
import requests


# importing DoB Job APllication Data
url_job = "https://data.cityofnewyork.us/resource/ic3t-wcy2.json"
request_header = {}

response = requests.get(url_job, headers=request_header)
job_data = response.json()

df_job = pd.DataFrame(job_data)

df_job

# the API limits the number of records returned to 1000 by default, so we need pagination

,job__,doc__,borough,house__,street_name,block,lot,bin__,job_type,job_status,...,sprinkler,boiler,fire_suppression,horizontal_enlrgmt,zoning_dist3,curb_cut,fire_alarm,fuel_burning,fuel_storage,standpipe
0,321386512,01,BROOKLYN,666,UNION ST,00955,00031,3020058,A1,X,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,340922871,01,BROOKLYN,918,ATLANTIC AVENUE,01124,00004,3027497,A3,D,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,301776291,01,BROOKLYN,933,51 STREET,05645,00066,3137917,A1,X,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,302163557,01,BROOKLYN,96,ROCKWELL PLACE,02106,07501,3059160,A1,R,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,340922880,01,BROOKLYN,78,EAST 7TH STREET,05285,00037,3122846,A3,D,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,123236630,01,MANHATTAN,411,PARK AVENUE SOUTH,00884,00087,1018237,A2,X,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
996,121962073,01,MANHATTAN,22,BOND STREET,00530,00019,1080066,DM,X,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
997,122369105,01,MANHATTAN,210,E 117 STREET,01666,00043,1052595,A2,R,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
998,301774391,01,BROOKLYN,15A,2 STREET,00450,00066,3007612,A2,R,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
999,123319195,02,MANHATTAN,401,EAST 30TH STREET,00962,07501,1085588,A2,X,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN